.App {
  text-align: center;
  
}
body {
  background-color: #FFFFFF; /* White background */
  color: #273238; /* Dark gray text */
}

.button {
  background-color: #881426; /* Deep red button */
  color: #FFFFFF; /* White text on the button */
  /* Add any additional styling for buttons */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
