body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  background-color: #FFFFFF; /* White background */
  color: #273238; /* Dark gray text */
}

.button {
  background-color: #881426; /* Deep red button */
  color: #FFFFFF; /* White text on the button */
  /* Add any additional styling for buttons */
}
